.success {
    margin: 1em auto 0;
    align-self: center;
    max-width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid #234465;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.success p {
    color: green;
    background-color: transparent;
}

.button {
    padding: 0.1rem 0.5rem;
    background-color: green;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 0.8em;
    display: block;
    margin: 0.5em auto 0;
}