section.boundary {
    width: 300px;
}

.logo404 {
    /* color: #234465; */
    font-size: 4em;
    align-self: center;
}

h1 {
    color: #234465;
}

.button {
    border: 1px solid #234465;
    display: inline-block;
    margin-top: 2em;
    padding: 0.2rem 1.4rem;
    border-radius: 0.6rem;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: #234465;
}

.button:hover {
    transform: scale(1.05);
}